#home {
    height: auto;
    width: 100%;
    margin-top: 7.1rem;
    position: relative;
}

.topSection {
    display: flex;
    background-color: #c9DD72;
    justify-content: center;
}

.introTextContainer {
    display: flex;
    Justify-content: center;
    align-items: center;
}

.frontPic {
    width: 635px;
    height: 750px;
    object-fit: cover;
    object-position: 50% 50%;
}

.introText {
    width: 60%;
    text-align: start;
    font-size: 1.2rem;
}

.introText h2 {
    font-size: 40px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
}

.introText p {
    font-family: "Raleway", sans-serif;
    font-size: 1.4rem;
    line-height: 1.9rem;
}


.whatIsNMT {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NMTText {
    width: 60%;
}



.NMTText h2 {
    font-size: 40px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    color: #c9DD72;
}

.NMTText p {
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    margin: 0;
    margin-top: .5rem;
}

.NMTpic {
    margin-top: 2rem;
}

.services {
    display: flex;
    flex-direction: column;
    background-color: #c9DD72;
    margin-top: 2.5rem;
    padding: 3rem 0;
}

.services h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    font-weight: 300;
}

.serviceImages {
    display: flex;
    font-family: "Raleway", sans-serif;
}

.serviceImages img {
    width: 50%;
}