
.footer {
    position: relative;
    height: 10vh;
}

h5 {
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    width: 100%;
}